body {
    background-color:#23272A;
}

h1 {
    color:white;
    font-size: 40px;
    text-shadow: -1px 1px 8px #000, 1px 1px 8px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

h2 {
    color:white;
    text-shadow: -1px 1px 12px #000, 1px 1px 8px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

#List {
    color: white;
    font-size: 20px;
}

#Sublist {
    color:white;
    font-size: 18px;
}

#Usernames {
    color:white;
    font-size: 24px;
}

#footer {
    color:white;
    position: bottom;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    z-index: 100;
    margin: 32px auto;
    text-align: center;
}